<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="..style.css">
  </head>
  <body>
    <p>
      <div class="col" align="center"><img src="https://lh3.googleusercontent.com/proxy/COrfOXxGSePnZRaqyMl00uvmd-2iJqp_ax1OcIgV4BauKfT7qDWfCdI0Sow59Tqzpi6-5JGr343wj5GsqYQGkgqHkc_buu8bp6U3o4KlY3p9rXVjjAKg8q52wsOv9EpHL1GjK0pSdksdO6-gp8C4P4uRkb2eeUg=w160-h160-k-no"></div>
    </p>
  </body>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h1>Smart</h1>
        <p>Bienvenido , alumno</p>
        <nav> </nav>
      </div>
      <div class="col-sm-8"></div>
      <div class="col-sm-2"><a href="login.html">Logout</a>
        <p> </p><a href="pantalla_seleccion.html">Mas citas / consultas      </a>
      </div>
      <div class="container">Acesorias
        <div class="row">
          <div class="col">
            <table class="table">
              <thead class="thead-dark">
                <tr></tr>
                <th scope="col"> </th>
                <th scope="col">Cursos</th>
                <th scope="col">Profesor</th>
                <th scope="col">seccion</th>
              </thead>
              <tbody>
                <tr></tr>
                <th scope="row">1</th>
                <td><a href="consulta_al.html">curso_1</a></td>
                <td>nombre_profesor</td>
                <td>601</td>
                <tr></tr>
                <th scope="row">2</th>
                <td><a href="consulta_al.html">curso_2</a></td>
                <td>nombre_profesor</td>
                <td>701</td>
                <tr></tr>
                <th scope="row">3</th>
                <td><a href="consulta_al.html">curso_3</a></td>
                <td>nombre_profesor</td>
                <td>804</td>
                <tr></tr>
                <th scope="row">4</th>
                <td><a href="consulta_al.html">curso_4</a></td>
                <td>nombre_profesor</td>
                <td>604</td>
              </tbody>
              <table class="table"></table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>