doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel='stylesheet', href='..style.css')
  body
   p
    .col(align='center')
     img(src='https://lh3.googleusercontent.com/proxy/COrfOXxGSePnZRaqyMl00uvmd-2iJqp_ax1OcIgV4BauKfT7qDWfCdI0Sow59Tqzpi6-5JGr343wj5GsqYQGkgqHkc_buu8bp6U3o4KlY3p9rXVjjAKg8q52wsOv9EpHL1GjK0pSdksdO6-gp8C4P4uRkb2eeUg=w160-h160-k-no')
  .container
   .row
    .col-sm-4
     h1 Smart
     p Bienvenido , #{'Administrador'} 
    .col-sm-6
    .col-sm-2
      a(href="login.html") Logout
    p añadir registro